<div id="batch-tooltip">
    <p><span class="tt-label">Name:</span><span class="tt-data"><%= @batch.name %></span></p>
    <p><span class="tt-label">Type:</span><span class="tt-data"><%= @job_type.name %></span></p>
    <% if @batch.job_type == 2 %>
      <p><span class="tt-label">OCR Engine:</span><span class="tt-data"><%= @ocr_engine.name %></span></p>
      <% if !@font.nil? %>
         <p><span class="tt-label">Font:</span><span class="tt-data"><%= @font.font_name %></span></p>
      <% end %>
    <% end %>
    <p><span class="tt-label">Parameters: </span><span class="tt-data"><%= @batch.parameters %></span></p>
    <p><span class="tt-label">Notes: </span><span class="tt-data"><%= @batch.notes %></span></p>
</div> 