<div id="dashboard-filter">
   <div id="filter-header">Results Filter</div>
   
   <div id='filter-left'>
      <p>
         <input type="checkbox" id="require-gt" <% if @gt_filter %>checked<% end %>>
         <span class="cb-filter-label">Exclude works with no GT</span>
      </p>
      <p>
         <span class="filter-label">Works:</span>
         <select id="ocr-filter" name="set-filter" style="width: 204px;">
            <option value>All</option>
            <option value="ocr_none" <% if @ocr_filter=="ocr_none" %>selected<%end%> >No OCR</option>
            <option value="ocr_sched" <% if @ocr_filter=="ocr_sched" %>selected<%end%> >OCR Scheduled</option>
            <option value="ocr_done" <% if @ocr_filter=="ocr_done" %>selected<%end%> >OCR Complete</option>
            <option value="ocr_error" <% if @ocr_filter=="ocr_error" %>selected<%end%> >OCR Errors</option>
         </select>
      </p>
      <p>
         <span class="filter-label">Data Set:</span>
         <select id="set-filter" name="set-filter" style="width: 191px;">
            <option value>All</option>
            <option value="ECCO" <% if @set_filter=="ECCO" %>selected<%end%> >ECCO</option>
            <option value="EEBO" <% if @set_filter=="EEBO" %>selected<%end%> >EEBO</option>
         </select>
      </p>
      <p>
         <span class="filter-label">Batch:</span>
         <select id="batch-filter" name="batch-filter">
            <option value>All</option>
            <% @batches.each do | batch | %>
               <option value="<%= batch[:id] %>" <% if @batch_filter.to_i==batch[:id] %>selected<%end%> ><%= batch[:name] %></option>
            <% end %>
         </select>
      </p>
   </div>
   
   <div id='filter-right'>
      <p>
         <span class="filter-label">Print Font:</span>
         <select id="print-font-filter" name="print-font-filter">
            <option value>All</option>
            <% @print_fonts.each do | font | %>
               <option value="<%= font[:pf_id] %>" <% if @print_font_filter.to_i==font[:id] %>selected<%end%> ><%= font[:pf_name] %></option>
            <% end %>
         </select>
      </p>
      <p class="filter-label" style="margin-top:10px">OCR completed date:</p>
      <p>
         <span class="filter-label">From:</span>
         <input class="date-filter" type="text" id="from-date" value="<%= @from_filter %>"/>
         <span class="filter-label">To:</span>
         <input class="date-filter to" type="text" id="to-date"  value="<%= @to_filter %>"/>
      </p>
      <input id="filter-reset" type="button" value="Reset Filter"/>
   </div>
</div>